<h1>Créditos</h1>
<br>
Página web creada por Javier Martínez de la Fuente para el curso de Node impartido por la UPM a través de MiriadaX.
<br>
<img src="stallone.jpg" alt="Mi foto" height="100" width="100">
